@charset "UTF-8";
/*首页导航*/
#header {
  padding: 20px 0;
  border-bottom: 3px solid #cdc7c7; }
  #header.fixed {
    position: fixed;
    right: 0;
    left: 0; }
  #header.transparent {
    border-bottom: none; }
    #header.transparent .logo a {
      background: url(../images/logo-white-transparent.png) no-repeat center; }
    #header.transparent .nav a {
      color: white; }
    #header.transparent .header-account a {
      color: white; }
    #header.transparent .header-account i {
      opacity: .2; }

.container {
  width: 1200px;
  margin: auto;
  /*让块元素居中*/ }

.logo {
  width: 83px;
  height: 47px;
  margin-right: 126px; }
  .logo a {
    background-image: url(../images/logo.jpg);
    display: block;
    width: 100%;
    height: 100%; }

.header-wrapper {
  display: flex;
  align-items: center;
  /*让flex下的资源居中对齐*/ }

.nav li {
  float: left;
  padding: 0 30px; }
.nav a {
  font-size: 15px;
  color: black; }

#h-right {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: auto; }

.header-account {
  display: flex;
  align-items: center;
  margin-left: 23px; }
  .header-account i {
    height: 11px;
    border-right: 1px solid #d8d8d7;
    margin: 0 10px; }
  .header-account a {
    color: #3e3a39; }

.header-search {
  width: 208px;
  height: 30px;
  background-color: #efefef;
  border-radius: 15px; }
  .header-search form {
    display: flex;
    align-items: center; }
  .header-search select {
    width: 46px;
    margin: 0 10px; }
  .header-search input {
    width: 112px;
    color: #cdc7c7; }
  .header-search button {
    width: 30px;
    background: url(../images/search-button.png) no-repeat center; }

.header-search form, .header-search form select, .header-search form input, .header-search form select, .header-search form button {
  height: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none; }

.header-search form button, .header-search form select, .header-search form select option {
  cursor: pointer; }

/*清浮动*/
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both; }
