.logo {
    text-align: center;
    margin: 0;
}
#wrapper {
    max-width: 940px;
    margin: 0 auto;
    background-color: darkmagenta;
    padding: 0 5%;
}

header {
    background-color: #6ab47b;
    border: #559a68;
}
/* nav {
    background-color: ;
} */

h1,h2,nav a { color: white;}
nav { background-color: #559a68;}
nav a:hover,nav a.current { color: #326732;}
body { 
    background-color: #fff;
    color: #999;
}
h1 {
    padding: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
}