@import url("style2.css") screen and (max-device-width: 800px);

body {
  font-size: 16px;
  background-color: white;
  color: #999;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav li {
  display: inline-block;
  line-height: 1;
  padding: 0.5em 0;
  margin: 0 0.5rem;
}

a {
  text-decoration: none;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

header {
  background-color: #6ab47b;
}
header a {
  color: white;
}

nav {
  margin: 0;
  background-color: #599a68;
}
nav a.current,
nav a:hover {
  color: #32673f;
}

h1,
h2 {
  margin: 0;
  text-align: center;
}
.logo h1 {
  padding: 1em 0;
  font-size: 1.75em;
  line-height: 1;
}
.logo h2 {
  font-size: 0.75em;
  font-weight: normal;
  line-height: 1;
  margin: 0.75em 0;
}

footer {
  font-size: 0.75rem;
  padding-top: 3.125rem;
  text-align: center;
  clear: both;
}
img {
  max-width: 100%;
}

#wrapper ul {
  list-style: none;
}

#wrapper p {
  color: #999;
  font-size: 0.75rem;
  line-height: 1;
  margin: 15px 15px;
}

#wrapper li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background: rgba(134, 134, 134, 0.3);
}
