@charset "UTF-8";
/*轮播*/
#banner-wrapper {
  position: relative; }
  #banner-wrapper .banner-tab {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    text-align: center; }
    #banner-wrapper .banner-tab li {
      display: inline-block;
      width: 190px;
      height: 50px;
      background-color: rgba(0, 0, 0, 0.5);
      text-align: center;
      line-height: 50px;
      color: #a4a4a4;
      font-size: 14px;
      margin: 0 1px;
      cursor: pointer; }
    #banner-wrapper .banner-tab li:first-child {
      border-top-left-radius: 12px; }
    #banner-wrapper .banner-tab li:last-child {
      border-top-right-radius: 12px; }
  #banner-wrapper .banner-list {
    overflow: hidden; }
  #banner-wrapper .banner-slide-warp {
    width: 5760px;
    margin: auto; }
    #banner-wrapper .banner-slide-warp .item {
      float: left; }

#header {
  z-index: 1; }
