@charset "UTF-8";
/*轮播*/
#banner-wrapper {
  position: relative;
  /*方法二弹性布局底部TAB*/
  /*方法一常规*/ }
  #banner-wrapper .banner-tab {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0; }
    #banner-wrapper .banner-tab ul {
      display: flex;
      align-items: center;
      justify-content: center; }
      #banner-wrapper .banner-tab ul li {
        width: 190px;
        height: 50px;
        line-height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #a4a4a4;
        text-align: center;
        font-size: 14px;
        margin: 0 1px;
        cursor: pointer; }
        #banner-wrapper .banner-tab ul li:hover {
          background-color: rgba(24, 81, 251, 0.8); }
        #banner-wrapper .banner-tab ul li:first-child {
          border-top-left-radius: 12px; }
        #banner-wrapper .banner-tab ul li:last-child {
          border-top-right-radius: 12px; }
  #banner-wrapper .banner-list {
    overflow: hidden; }
  #banner-wrapper .banner-slide-warp {
    width: 5760px;
    margin: auto; }
    #banner-wrapper .banner-slide-warp .item {
      float: left;
      position: relative; }
  #banner-wrapper .text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 135px;
    text-align: center;
    color: white; }
    #banner-wrapper .text-content h2 {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 18px; }
    #banner-wrapper .text-content h3 {
      font-size: 24px; }
    #banner-wrapper .text-content p {
      line-height: 24px;
      font-size: 14px; }
    #banner-wrapper .text-content h3, #banner-wrapper .text-content p {
      font-weight: lighter; }
    #banner-wrapper .text-content hr {
      border: none;
      width: 50px;
      height: 1px;
      background-color: white;
      margin: 35px auto; }

#header {
  z-index: 1; }

/*热门国家目的地*/
#hot-nation .item-wrap {
  padding: 0 5px; }
  #hot-nation .item-wrap .item-padding {
    float: left;
    width: 25%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #hot-nation .item-wrap .item-img {
    border-radius: 15px;
    background: no-repeat center; }
