/*引用sass配置文件*/
@import "./sassconfigure.scss";
/*页面变灰色*/
// body {
//     @include webkit( filter,grayscale(100%))
// }
/*轮播*/
#banner-wrapper {
    position: relative;

    /*方法二弹性布局底部TAB*/
    .banner-tab {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                width: 190px;
                height: 50px;
                line-height: 50px;
                background-color: rgba(0, 0, 0, .5);
                color: #a4a4a4;
                text-align: center;
                font-size: 14px;
                margin: 0 1px;
                cursor: pointer;

                &:hover { background-color: rgba(24, 81, 251, .8);}

                &:first-child { border-top-left-radius: 12px;}

                &:last-child { border-top-right-radius: 12px;}
            }

        }
    }

    /*方法一常规*/
    // .banner-tab {
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     font-size: 0;
    //     text-align: center;
    //     li {
    //         display: inline-block;
    //         width: 190px;
    //         height: 50px;
    //         background-color: rgba(0,0,0,.5);
    //         text-align: center;
    //         line-height: 50px;
    //         color: #a4a4a4;
    //         font-size: 14px;
    //         margin: 0 1px;
    //         cursor: pointer;
    //     } 
    //     li:first-child { border-top-left-radius: 12px;}
    //     li:last-child { border-top-right-radius: 12px;}
    // }
    .banner-list { overflow: hidden;}

    .banner-slide-warp {
        width: 5760px;
        margin: auto;

        .item {
            float: left;
            position: relative;
        }
    }

    .text-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 135px;
        text-align: center;
        color: white;

        h2 {
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 18px;
        }

        h3 { font-size: 24px;}

        p {
            line-height: 24px;
            font-size: 14px;
        }

        h3,p { font-weight: lighter;}

        hr {
            border: none;
            width: 50px;
            height: 1px;
            background-color: white;
            margin: 35px auto;
        }
    }
}

#header { z-index: 1;}

/*热门国家目的地*/

#hot-nation {
    .item-wrap {
        padding: 0 5px;
        display: flex;
        flex-wrap: wrap;
        .item-padding {
            // float: left;
            padding: 5px;
            color: white;
            flex: 1;
            /*忽略边框*/
            @include webkit(box-sizing,border-box);
            overflow: hidden;

            &:hover {
                .tag { top: -40px;}

                hgroup {
                    bottom: -60px;
                    z-index: 1;
                }

                .mask { @include opacity(1);}
            }

            .tag {
                position: absolute;
                top: 21px;
                left: 21px;
                padding: 0 5px;
                background-color: #185197;
                border-radius: 3px;
                line-height: 23px;
            }

            hgroup {
                position: absolute;
                left: 21px;
                right: 21px;
                bottom: 6px;
                font-size: 16px;
                line-height: 27px;
            }

            .tag,h5 { font-size: 12px;}
        }

        .item-img {
            position: relative;
            border-radius: 15px;
            background: no-repeat center;
            background-size: 100% 100%;
            overflow: hidden;
        }
    }

    .mask {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        // flex-direction: column;
        // flex-wrap: nowrap;
        //简写
        flex-flow: column nowrap;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 95px;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, .5);
        color: white;
        @include opacity(0);

        h6 { font-size: 16px;}

        p,span {
            text-align: center;
            font-size: 12px;
        }

        p { line-height: 20px;}

        span {
            display: block;
            width: 80px;
            height: 30px;
            line-height: 30px;
            border-radius: 15px;
            background-color: #185197;
        }

        hr {
            margin: 22px 0 29px;
            width: 47px;
            border-top: 1px dashed;
            border-bottom: transparent;
            border-left: transparent;
            border-right: transparent;
        }
    }

    .opacity {
        background-color: rgba(24, 81, 251, .3);
        padding: 4px;
        margin-top: 18px;
        text-align: center;
        border-radius: 30px;
    }
}
/*给遮罩加效果*/
.tag,hgroup { @include webkit (transition,all 1s ease 0s)}
.mask { @include webkit ( transition, all 2s ease 0s) }
/*适配移动端*/
@media screen and(min-width: 960px) {
    .item-padding { @include flex-scope(width,25%)}
}

@media screen and(max-width: 960px) {
    .item-padding { @include flex-scope(width,33.33333%)}
}

@media screen and(max-width: 747px) {
    .item-padding { @include flex-scope(width,50%)}
}

@media screen and(max-width: 375px) {
    .item-padding { @include flex-scope(width,100%)}
}